/** Add css rules here for your application. */



body {
	width: 100%;
}

#TheApp {
	width: 700px;
}

#TopMenu, #TopMenuLinks {
	width: 100%;
}

#TopMenuLinks{
	margin: 10px;
	padding: 5px;
	font-size: 120%;
	background: #e5ecf9;
	border-top: 1px solid #3366cc;
}

#TopMenuLinks a {
	margin-right: 5px;
}

#SideBarView {
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

#MainView {
	border-left: 1px solid 	#3366cc;
	margin-left: 10px;
	padding-left: 10px;
	width: 800px;
}

#MainView , .header {
	width: 800px;
}

/* Header in examples */
.smallheader, .header {
	font-size: 130%;
	border-bottom: 1px solid black;
	width: 100%;
}

.smallheader, .header .gwt-HTML {
	font-size: 130%;
}

.header a {
	float: right;
}

.smallheader {
	font-size: 110%;
}

/* Sourcelink on the upper right side */
.sourceLink {
	text-decoration: none;
}

/* Generic json ouput */
.jsonOutput {
	font-size: 90%;
	margin: 20px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.example {
	margin-top: 10px;
}

/* Post */
.post {
	margin: 5px;
}

.post .gwt-HTML {
	width: 700px;
	margin: 10px;
}


/** Example rules used by the template application (remove for your app) */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.topicsHeader {
  background-color: #2062B8;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.topicsLines {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CCCCFF;
}
.messagesLines {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CCFFFF;
}

h1 {
	color: Blue;
	margin: 40px 0px 70px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 1200px;
}

.dialogVPanel {
  margin: 20px;
}


.lendme-logo {
	color: midnightblue;
	font-size: xx-large;
	font-weight: bold;
}
.gwt-InlineLabel {
	color: navy;
	font-size: 36px;
	font-style: normal;
	font-weight: bolder;
}
.alert {
	color: Red;
	font-size: 10px;
	background-color: lemonchiffon;
}
.mouseOverUser {
	margin: 1px;
	padding: 1px;
	border: thin Maroon;
	cursor: move;
}
.gwt-bar {
	color: Blue;
	font-weight: bolder;
}
.gwt-Label-item {
	font-size: 11px;
}
.gwt-TextBox {
	font-size: 8px;
}
.gwt-Label-1 {
	text-decoration: underline;
}
.gwt-Image {
	cursor: pointer;
}
.gwt-PopupPanel-modify {
	border: medium;
	cursor: pointer;
}
.gwt-PopupPanel-modif {
	color: blue;
	cursor: pointer;
}
.gwt-ListBox {
	font-size: 11px;
}


