/** Add css rules here for your application. */



body {
	width: 100%;
	font-size: 13pt;
}

#TheApp {
	width: 700px;
}

#TopMenu, #TopMenuLinks {
	width: 100%;
}

#TopMenuLinks{
	margin: 10px;
	padding: 5px;
	font-size: 120%;
	background: #e5ecf9;
	border-top: 1px solid #3366cc;
}

#TopMenuLinks a {
	margin-right: 5px;
}

#SideBarView {
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

#MainView {
	border-left: 1px solid 	#3366cc;
	margin-left: 10px;
	padding-left: 10px;
	width: 800px;
}

#MainView , .header {
	width: 800px;
}

/* Header in examples */
.smallheader, .header {
	font-size: 130%;
	border-bottom: 1px solid black;
	width: 100%;
}

.smallheader, .header .gwt-HTML {
	font-size: 130%;
}

.header a {
	float: right;
}

.smallheader {
	font-size: 110%;
}

/* Sourcelink on the upper right side */
.sourceLink {
	text-decoration: none;
}

/* Generic json ouput */
.jsonOutput {
	font-size: 90%;
	margin: 20px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.example {
	margin-top: 10px;
}

/* Post */
.post {
	margin: 5px;
}

.post .gwt-HTML {
	width: 700px;
	margin: 10px;
}


/** Example rules used by the template application (remove for your app) */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.topicsHeader {
  background-color: #2062B8;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.topicsLines {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CCCCFF;
}
.messagesLines {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CCFFFF;
}

h1 {
	color: Blue;
	margin: 40px 0px 70px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 1200px;
}

.dialogVPanel {
  margin: 20px;
}


.lendme-logo {
	color: midnightblue;
	font-size: xx-large;
	font-weight: bold;
}
.gwt-InlineLabel {
	color: navy;
	font-size: 36px;
	font-style: normal;
	font-weight: bolder;
}
.alert {
	color: Red;
	font-size: 10px;
	background-color: lemonchiffon;
}
.mouseOverUser {
	margin: 1px;
	padding: 1px;
	border: thin Maroon;
	cursor: move;
}
.gwt-bar {
	color: Blue;
	font-weight: bolder;
}
.gwt-Label-item {
	font-size: 11px;
}
.gwt-TextBox {
	font-size: 13pt;
}
.gwt-Label-1 {
	text-decoration: underline;
}
.gwt-Image {
	cursor: pointer;
}
.gwt-PopupPanel-modify {
	border: medium;
	cursor: pointer;
}
.gwt-PopupPanel-modif {
	color: blue;
	cursor: pointer;
}
.gwt-ListBox {
	font-size: 11px;
}

.btn a{
	float: left;
	height: 30px;
	background: url(http://www.iconesgratis.net/imagens/xbuttons_@_icon_aqua.png) repeat-x left top;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}

button{
    margin: 0px;
    padding: 0px;
    font-family:Lucida Sans MS, Tahoma;
    font-size: 12px;
    color: #000; 
    white-space:nowrap;
    width:auto;
    overflow:visible;
    height:28px;
}

button em{
    vertical-align:middle;
    margin:0 2px;
    display:inline-block;
    width:16px;
    height:16px;
    background-image: url(images/ui-icons_3d3d3d_256x240.png);      
}

button em.leftImage{
    background-position: -96px -112px;
}

button em.rightImage{
    background-position: -64px -16px;
}
.msg-label {
	font-size: 15px;
}
.new-msg-label {
	color: white;
	font-size: 13px;
	font-weight: bold;
	background: #0033ff
}

/** Rich Test CSS*/

.gwt-RichTextArea {
	font-size: 13pt;
}
.hasRichTextToolbar {
  border: 0px;
}
.gwt-RichTextToolbar {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}
.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
}
.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.purple-font {
  font-color: #990000;
  font-weight: bolder;
  font-size: 8pt;
}

.green-font {
  font-color: #00FF99;
  font-weight: bolder;
  font-size: 8pt;
}
.barra {
	border-top: thin inset Maroon;
	border-bottom: thin inset Maroon;
	font-stretch: normal;
	font-size: 10px;
	text-indent: 3px;
	background-color: #FF7F24;
}
.linha {
	font-stretch: normal;
	font-size: 9px;
	font-style: normal;
	font-weight: lighter;
}
.headerBackground {
	background-color: #D9D9F3;
}

.backGround1{
	background-color: #D9D9F3;
}

.backGround2{
	background-color: #E6E6FA;
}

.smalltxt{
	font-size: 13px;
	font-style: normal;
}


.defaultTitle {
	font-weight: bolder;
	font-size: 23px;
	font-color: #8B4513;
	font-variant: small-caps;
	font-style: oblique;
}


.defaultErrorStyle{
	background-color: #FFFF00;
	font-size: 11px;
	font-weight: bolder;
	font-color: #FF0000;
}

.click{
	font-weight: bolder;
	font-size: 12px;
	font-color: #8B4513;
}



}